.cardValue{
    margin: 2rem;
    background: #001F5F;
    color: #fff;
    border-radius: .3rem;
    display: flex;
    cursor: pointer;
    transition: .5s;
}

.cardValue:hover{
    margin-left: 0;
}

.cardValue h3{
    width: 80vw;
    font-size: 1.7rem;
}

.cardLeft{
    float: left;
    display: flex;
    align-items: center;
    width: 30%;
    margin-left: 2rem;
}

.cardRight{
    float: right;
    padding: 2rem;
    width: 70%;
    flex-wrap: wrap;
}

@media (max-width: 710px){
    .cardValue{
        width: 80%;
        height: 22vh;
        display: flex;
        align-items: center;
        margin: 3rem auto;
        color: #fff;
        cursor: pointer;
        transition: .5s;
    }
    .cardValue:hover{
        margin: 3rem auto;
    }
    .cardValue span{
        display: none;
    }
    .cardValue h3{
        font-size: 1.5rem;
        width: 100%;
        text-align: center;
    }
    .cardLeft{
        width: 20%;
        margin-left: 1rem;
    }
}