.projects{
    width: 100%;
    display: flex;
    color: #000;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(233, 233, 233));
    text-align: center;
    flex-wrap: wrap;
    padding: 2rem 0 10rem 0;
}

.projLeft, .projRight{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* LEFT */

.projLeft{
    float: left;
}

.projTitle{
    width: 100%;
    font-size: 3.5rem;
    padding: 4.5rem 0 0 0;
}

.proj1{
    width: 28rem;
    border-radius: .3rem;
}

/* RIGHT */

.projRight{
    float: left;
    padding-top: 4rem;
}

.proj2{
    width: 35rem;
    height: 20rem;
    margin: 2rem 0;
    border-radius: .3rem;
}

.projSpan{
    font-size: 1.3rem;
}

@media (max-width: 1130px){
    .projects{
        margin: 0 auto;
        padding: 0 0 5rem 0;
    }
    .projLeft, .projRight{
        width: 80%;
        display: flex;
        margin: 0 auto;
    }
    .proj1{
        width: 20rem;
        justify-content: center;
    }
    .proj2{
        width: 23rem;
        height: 12rem;
    }
}