.value{
    padding: 5rem 0;
    width: 100vw;
    background-color: #fff;
}

.bgValue{
    width: 100%;
    height: 50vh;
}

.cardsValue{
    width: 100%;
    color: black;
    display: flex;
}

.floatLeft, .floatRight{
    width: 50%;
}

.floatLeft{
    float: left;
}

.valueTitle{
    position: sticky;
    font-size: 5rem;
    padding: 0 2rem;
    top: 4rem;
    text-align: start;
}

.floatRight{
    float: right;
}

@media (max-width: 710px){
    .value{
        padding: 2rem 0 0 0;
    }
    .bgValue{
        width: 100%;
        height: 35vh;
    }
    .cardsValue{
        display: block;
    }
    .valueTitle{
        text-align: center;
        position: relative;
        display: flex;
        margin: 0 auto;
        padding: 2rem 0;
        top: 0rem;
        font-size: 3rem;
    }
    .floatLeft, .floatRight{
        width: 100%;
    }
}